__pycache__
.DS_Store
.gradle
.idea
NIL-fork/build
NIL-fork/clone_pairs
NIL-fork/code_blocks
NIL-fork/result_*.csv
NIL-fork/example_java_dataset
NIL-fork/example_python_dataset
NIL-fork/example_cpp_dataset
NIL-fork/*.csv
CCSTokener-fork/original/
CCSTokener-fork/tokens_main_*/
CCSTokener-fork/tokens_query_*/
CCSTokener-fork/tokens_original
CCSTokener-fork/script.py
CCSTokener-fork/k_index.txt
CCSTokener-fork/temp_dataset
CCSTokener-fork/report*/
CCSTokener-fork/statistics
CCSTokener-fork/original_results*
code_search_toolkit/datasets/
code_search_toolkit/results/
